{% extends 'base.html' %}
{% block title %}Новая задача{% endblock %}
{% block content %}
    <div class="row mt-5 text-center">
        <h2>Добавляем новую задачу</h2>
    </div>
    <div class="row mx-5 g-3 align-items-center">
        <form action="{% url 'task_add' %}" method="post">
            {% csrf_token %}
            <div class="row mt-5">
                <div class="col-2">
                    <label for="description" class="col-3 h5 mx-3">Описание</label>
                </div>
                <div class="col-3">
                    <input required type="text" id="description" name="description" class="form-control"
                           aria-describedby="passwordHelpInline">
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-2">
                    <label for="detailed_description" class="col-3 h5 mx-3">Подробное описание</label>
                </div>
                <div class="col-3">
                <textarea rows="5" id="detailed_description" name="detailed_description" class="form-control"
                          aria-describedby="passwordHelpInline"></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <label for="status" class="col-3 h5 mx-3">Статус</label>
                </div>
                <div class="col-3 form" aria-describedby="passwordHelpInline">
                    <select id="status" name="status" required>
                        <option value="new">новая</option>
                        <option value="in_process">в процессе</option>
                        <option value="complete">сделано</option>
                    </select>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <label for="complete_data" class="col-3 h5 mx-3">Дата выполнения</label>
                </div>
                <div class="col-3">
                    <input type="date" id="complete_data" name="complete_data"
                           value="2023-02-14" min="2023-02-14" max="2030-12-31">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-2">
                    <input type="submit" class="btn btn-dark mx-3">
                </div>
            </div>
        </form>
    </div>

{% endblock %}