{% extends 'base.html' %}
{% block title %}Редактирование задачи{% endblock %}
{% block content %}
    <div class="row mt-5 text-center">
        <h2>Редактирование задачи</h2>
    </div>
    {% if errors %}
        <p class="error">{{ errors.title }}</p>
    {% endif %}
    <div class="row mx-5 g-3 align-items-center">
        <form action="{% url 'update_task_view' task.pk %}" method="post">
            <div class="form-group">
            {% include 'partial/task_form.html' with button_text='Изменить' %}
            </div>
        </form>
    </div>
{% endblock %}