{% extends 'base.html' %}
{% block title %}TODO List{% endblock %}
{% block content %}
    <div class="container text-center mt-5">
        <h1>To-Do list</h1>
        <div class="row my-5">
            {% for task in tasks %}
                <div class="col-3 my-3">
                    <h4 class="text-uppercase">{{ task.description }}</h4>
                    <p>
                        <a href="{% url 'task_view' task.pk %}"
                           class="btn btn-link text-decoration-none text-lowercase">Подробнее</a>
                    </p>
                </div>
            {% endfor %}
        </div>
        <a href="{% url 'task_add' %}" class="btn btn-dark">Добавить новую задачу</a>
    </div>
{% endblock %}